
body {
    font-family: Arial, sans-serif;
    background-color: #00A3DD;
    
  }
  
  h1 {
    color: #FCD116  ;
    font-size: 44px;
  }
  
  p {
    color: #fff ;
    line-height: 1.5;
    font-size: 22px;
  }

  h2 {
    color: #1EB53A ;
  }

  nav ul.dropdown-list {
    font-size: 22px;
    color: #000000;
  }
  